.admin-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
  }

  .left-panel {
    width: 250px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  }
  
  .left-panel h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .left-panel p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .logout-button {
    background-color: #ff4d4f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: auto;
  }
  
  .logout-button:hover {
    background-color: #e04345;
  }
  
  .right-panel {
    width: 75%;
    padding: 20px;
    overflow-y: auto;
  }
  
  .user-list {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
  }
  
  .user-list h2 {
    font-size: 20px;
    margin-top: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }

  .li button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  li button:hover {
    background-color: #0056b3;
}

  li .user-info {
      flex-grow: 1;
  }
    
  button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: rgb(2, 167, 240);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  