<div class="admin-panel">
    <h1>Admin Panel</h1>
    <p>From here u can manage users down below</p>
  
    <div class="user-list">
        <h2>Aktywni użytkownicy</h2>
        <ul>
          <li *ngFor="let user of activeUsers">
            {{ user.name }} ({{ user.email }})
            <button (click)="blockUser(user.id)">Zablokuj</button>
            <button (click)="deleteUser(user.id)">Usuń</button>
          </li>
        </ul>
      </div>
    
      <!-- Zablokowani użytkownicy -->
      <div class="user-list">
        <h2>Zablokowani użytkownicy</h2>
        <ul>
          <li *ngFor="let user of blockedUsers">
            {{ user.name }} ({{ user.email }})
            <button (click)="unblockUser(user.id)">Odblokuj</button>
            <button (click)="deleteUser(user.id)">Usuń</button>
          </li>
        </ul>
      </div>
    
      <!-- Usunięci użytkownicy -->
      <div class="user-list">
        <h2>Usunięci użytkownicy</h2>
        <ul>
          <li *ngFor="let user of deletedUsers">
            {{ user.name }} ({{ user.email }})
            <button (click)="restoreUser(user.id)">Przywróć</button>
          </li>
        </ul>
      </div>
  </div>
  